#pane{
    /*-fx-background-color: rgb(47, 47, 47);*/
    -fx-background-image: url("../IMAGES/factionsBackground.png");
    -fx-background-size: 100% 100%;
    /*-fx-background-position: auto;*/
}
#faction{
    /*-fx-background-image: url("../IMAGES/Faction1.jpg");*/
    -fx-background-size: auto;
    -fx-image: url("/IMAGES/Faction1.jpg");
    -fx-animation-duration: 4s;
    -fx-animation-name: nima;
    /*-fx-fill: url("../IMAGES/Faction1.jpg");*/
}
#black{
    /*-fx-background-color: rgba(0, 0, 0, 0.78);*/
}
#imageView{
    -fx-padding: 10;
    -fx-background-color: firebrick;
    -fx-border-radius: 50;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.8),10,0,0,0);
}