#pane {
    -fx-background-image: url("../IMAGES/profileMenuBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.button {
    -fx-background-color: transparent;
    /*-fx-border-width: 0;*/
    /*-fx-border-color: transparent;*/
    /*-fx-background-radius: 0;*/
    /*-fx-min-width: 80px;*/
    /*-fx-min-height: 45px;*/
    -fx-font-family: Garamond;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color: rgba(160, 82, 45, 0.64);
}

.button:focused {
    -fx-background-color: rgba(160, 82, 45, 0.64);
}

.label {
    /*-fx-cell-size: stretch;*/
    -fx-text-fill: white;
}
